In [4]:
f = open("../api_key.txt", "r")
api_key = f.readline()

In [3]:
import requests
import json
from os.path import exists
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

from data_manager import grab_daily_data, get_stock_data, preprocess_data, preprocess_data_multiple

In [22]:
data = grab_daily_data('IBM', api_key)
df = pd.DataFrame.from_dict(data['Time Series (Daily)'], orient='index')
df = df.drop(labels='5. volume', axis=1)
df = df.sort_index()

In [20]:
df = df.drop(labels='5. volume', axis=1)

In [23]:
df.head()

            1. open  2. high   3. low 4. close
1999-11-01  98.5000  98.8100  96.3700  96.7500
1999-11-02  96.7500  96.8100  93.6900  94.8100
1999-11-03  95.8700  95.9400  93.5000  94.3700
1999-11-04  94.4400  94.4400  90.0000  91.5600
1999-11-05  92.7500  92.9400  90.1900  90.2500

In [ ]:
def get_compiled_model():
    model = keras.Sequential()
    #model.add(layers.Embedding(input_dim=(365,0), output_dim=(1,)))
    model.add(layers.LSTM(128))
    model.add(layers.Dense(64, activation='relu'))
    model.compile(loss='mean_squared_error',
                  metrics=[tf.keras.metrics.MeanSquaredError()],
                  optimizer='adam')
    return model

In [ ]:
def train_model(symbol, model, api_key, start=None, end=None):
    if (start is None and end is not None) or (start is not None and end is None):
        raise ValueError("start and end has to be both non-None or both None")
    x = y = []
    if not isinstance(symbol, str):
        x, y = preprocess_data_multiple(symbol, api_key)
    else:
        x, y, time_series = preprocess_data(symbol, api_key, start=start, end=end)
    model.fit(np.asarray(x), np.asarray(y), epochs=30, batch_size=128)
    return model

In [ ]:
model = get_compiled_model()
train_model(["IBM", "META", "DIS"], model, api_key)

In [ ]:
x, y = preprocess_data_multiple(['IBM', 'META'], api_key)
len(x[0])